<div class="row animated fadeIn">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <input #input id="buscador" (keyup)='buscarHospital( input.value)' type="text" class="form-control" placeholder="Buscar Hospital...">

            </div>
        </div>
    </div>
</div>

<!-- ==================================
AQUI VA EL CARGANDO
================================== -->

<div class="row" *ngIf='!cargando'>
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="text-right">

                    <button (click)="crearHospital()" class="btn btn-rounded btn-primary">
                            <i class="fa fa-plus"> </i> Nuevo Hospital
                        </button>
                </div>

                <h3 class="card-title">Hospitales Registrados (<small>{{total}}</small>) </h3>

                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Imagen</th>
                            <th>Nombre</th>

                            <th>--------</th>

                        </tr>

                    </thead>
                    <tbody>
                        <tr *ngFor="let hosp of hospitales">
                            <td>
                                <img (click)="mostrarModal(hosp)" [src]="hosp.img | imagen: 'hospital'" width="50" style="cursor: pointer;" class="img">
                            </td>
                            <td> <input type="text" class="form-control" [value]="hosp.nombre" [id]=hosp._id> </td>


                            <td>
                                <button (click)="actualizarHosp(hosp)" class="btn btn-primary">
                                      <i class="fa fa-save"></i>
                              </button>

                                <button (click)="borrarHospital(hosp)" class="btn btn-danger">
                                      <i class="fa fa-trash-o"></i>
                              </button>
                            </td>

                        </tr>

                    </tbody>
                </table>

                <button (click)="cambiarDesde(-5)" class="btn btn-secondary">
                    Anterior
                  </button>

                <button [disabled]='total < 6 || hospitales.length < 5' (click)="cambiarDesde(5)" class="btn btn-secondary">
                    Siguiente
                  </button>

            </div>
        </div>
    </div>
</div>